#define IDM_MENU 10000
#define IDM_FILE_EXIT 10001
#define IDM_TOOLS_DETECTOEP 10002
#define IDM_TOOLS_CRYPTSIGN 10003
#define IDM_IDENTIFY_SIGNATURE 10005
#define IDM_GENUNPACK 10004
#define IDM_HELP_HOME 10007
#define IDM_HELP_SUPPORT 10006
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Tools",,,0x00000001
  BEGIN
    MENUITEM "Detect O&EP",IDM_TOOLS_DETECTOEP
    MENUITEM "Detect C&rypto Signatures",IDM_TOOLS_CRYPTSIGN
    MENUITEM "I&dentify Packer/Compiler",IDM_IDENTIFY_SIGNATURE
    MENUITEM "Generic U&npacker",IDM_GENUNPACK
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "Project H&omepage",IDM_HELP_HOME
    MENUITEM "&Support",IDM_HELP_SUPPORT
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
